main header  {
    font-family: 'Merriweather', serif;
}

body {
    background-color: rgb(213, 255, 213);
}
.titulo {

}

.main_header {
    background-color: brown;
    background-image: url(./assets/camping-holanda-banner.png)
}
img {
  display: block;
  margin: auto;
}