body {
  margin: 0;
  grid-template-columns: 2fr auto auto 1fr;
}

.main-header {
  background-color: #25a4f8;
  color: bisque;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
}

section {
  margin: 2.6rem;
  min-height: 60vh;
}
section header {
  background-color: bisque;
  color: brown;
}

p {
  border: 1px solid crimson;
  padding: 1rem;
}

.main-footer {
  background-color: #25a4f8;
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
