@font-face {
    font-family: 'octin';
    src: url(../assets/fonts/octin\ prison\ rg.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    text-align: center;
    
}
#cabeceraweb {
    background-color: rgba(250, 152, 61, 0.623);
    width: 100%;
    margin-bottom: 1%;
}
.cabecera2 {
    background:linear-gradient(
        to left,
        rgb(255, 252, 86),
        rgb(255, 136, 0));
    margin-bottom: 1rem;
    margin top: -1rem;
    color: antiquewhite;
    

}

body {
background-color:rgb(255, 255, 224);
}

.imagen_amsterdam {
width: 35%;
display: block;
float: left;
margin-right: 1rem;
border-radius: 5%;
}
.menu li{
display: inline-block;
background-color: brown;
padding: 1rem 3rem;
margin-left: 0%;
margin-right: 0%;
color:rgba(253, 187, 124, 0.897);
margin-bottom: 1%;

}
.menu ul {
     text-align: center;
     margin-bottom: 0%;

}
.tabla {
    border-spacing: 5px;
    text-align: center;
    width: 50%;

}
th  {
    background: brown;
    color:rgb(255, 255, 224);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;

}

td {
    border: double 3px;

}

header .banner {
font-family:'octin';
color: rgb(163, 0, 0);
height: 100%;
font-size: 3rem;
background-image: url(/Amsterdam/assets/media/Holanda_banner.png);
text-align: center;
margin-top: 0%;
margin-bottom: 2%;
width: 100%;

}

p {
    color: rgb(53, 53, 53);
   
}

.plaza_dam {
width: 35%;
display: block;
float: right;
margin-right: 1rem;
border-radius: 5%;
    
}
header {
    font-family: 'alegreya'
    b
}
