body {
    margin: 0;
    >header {
        background-color: rgb(0, 185, 124);
        color: whitesmoke;
        
        

    }
}

section {
    margin: 2 rem;
    }
    header {
    background-color: bisque;
    color: brown;
    }