h1, p{
 /*display: inline;*/
 
}

strong {
    font-weight: normal;
    
}

/* {ES UNA MALA PRACTICA USAR LOS ID EN CSS */
    #POO1 {
        color: brown
    }

}*/

.destacado¨{ 
    body ¨{color: crimson}  
    
}
.centrado {
    text-align: center
}
h1 {
    text-align: center
}

pre{
    font-family: 'Courier New', Courier, monospace
}