body {
    margin: 0;
}

.main_header {
    background-color: brown;
    color: bisque;
  margin-top: -1rem;
  
}

.main_header nav {
    margin-left: -1rem;

}

.main_header nav ul {
list-style-type: none;
margin: 0%;
padding: 0%

}

.main_header nav li {
    display: inline-block;

}

.main_header nav a {
 color: inherit;
 text-decoration: none;
 display: block;
 padding: 1rem;

}



h1 {font-size: 3rem;
font-weight: normal;
 }

.main_footer  {
    background-color: brown;

    color: bisque;
    font-weight: 
    text-align: center;
    padding: 1rem
}

.content_wrapper {
    margin: 1rem 3rem;

    }
    .image_wrapper {
        margin: 0%
        text-align: center;
    }
    img {
        max-width: 100%;
    }
    .pre_no_mono {
        font-family: inherit;
    }

    blockquote {
      
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-left: 0%;
        margin-right: 0px;

        
        
    }

    blockquote footer {
        width: fit-content;
        margin-top: 0.5rem;
        padding-top: 0.3rem;
        border-top: 1px solid gray;
    }
        
.dt {
    float: left;
    clear: left ;
}
.dd {
    float: left;
    clear: left ;
}
.clearfix {
    clear: both;
}
footer a {
    color: inherit;
}

.verde{
    color: chartreuse;
    font-weight: bold
    
}

/* strong {
    font-weight: normal
} */
img {
    max-width: 100%;
    /* width: 100%; */
    display: inline-block
}

.seccion_imagenes img{
    max-width: 25%;
    display: block;
    float: left;
}

