
@font-face {
    
}



body {
    margin: 0;
}
header {
    position: relative;
    min-height: 100vh;
    background-color: ;

    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
 
 }
    /* background-image: url(../assets/img-noise-32x32.png); */
 
header::after {
    content:'';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    background-image: url(../17_fondos_plus/assets/drones-banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: difference; 
}



h1 {
    color: rgb(134, 0, 0);
    z-index: 20;
}

.content-wrapper {
    margin-left: 4rem;
    margin-right: 4rem;
    color : rgb(134, 0, 0);
}

.logo {
    display:block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    margin: 0;
}

.logo img{
    max-width: 16%;
    min-width: 80px;
    z-index: 20;
    float: right;
    

}
.menu a {
    background-color: ;
    text-decoration: none;
    color: rgb(236, 236, 236);
    display: block;
    padding: 20px 70px;  
    border-radius: 10%;
    margin: 5px;
    -webkit-box-shadow: 9px -1px 10px -5px rgba(33,0,0,0.46);
    background: linear-gradient(rgb(240, 0, 20),rgb(75, 1, 1))
}


.menu {
    z-index:20;
    position: absolute;
    top: 64%;

  
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li ul {
    display: none;
    position: absolute
}

.menu>ul>li {
    float: left;
  
}
.menu li a:hover {
    background: linear-gradient(rgb(0, 207, 79),rgb(0, 95, 29));
    font-size: 1.5rem;
    color:rgb(32, 32, 32)
    
}

.menu li:hover > ul {
    display:block;
    position: absolute

}
